*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 70px;
    text-align: center;
}

#texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}