{% extends "layout.html" %}

{% block title %}Home page{% endblock %}

{% block titulo_pagina %}Home page{% endblock %}

{% block content %}
<div id="texto_da_main">
    <p>
        é a main não tem como Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nesciunt dolore provident ab impedit molestias. Exercitationem dicta ex repudiandae vel tempora suscipit pariatur dolorum tempore voluptatibus omnis, distinctio voluptas impedit!
        Voluptate similique molestias sint nam nostrum quam ipsa ab qui rerum! Aliquam quos blanditiis quibusdam voluptatem? Iure tempore omnis nesciunt beatae blanditiis molestias fugiat, quaerat totam illum nostrum corrupti aut?
        Dolorum distinctio veritatis hic sequi ratione. In perspiciatis vitae enim ducimus eaque asperiores maiores assumenda deserunt, quam alias soluta nam, fugit, atque doloremque debitis sunt laudantium dicta rerum. Vel, ad!
        Repellendus ea rem magni pariatur voluptatum quo, alias nobis vel voluptatem, ducimus corporis eum harum perspiciatis dignissimos consectetur fugiat reprehenderit voluptates doloremque velit optio illum possimus minima? Voluptatum, cupiditate obcaecati.
        Iusto ab ullam repellendus tenetur tempora illo incidunt at odit facilis! Inventore officia ullam totam consectetur distinctio debitis nemo ab quisquam placeat rerum, illo assumenda, odio ea beatae quis hic.
        Qui blanditiis quasi culpa sit totam laborum porro ducimus voluptatem natus eum! Culpa dignissimos dolorem, sed minima porro recusandae impedit aut quaerat et unde eius laboriosam fuga, itaque, illo illum?
        Est laboriosam, sit dignissimos voluptatum, accusamus, adipisci modi recusandae obcaecati cupiditate deserunt natus similique! Odio facilis minima voluptatum nostrum dolores et accusamus officiis ut autem cum quae, commodi nemo explicabo.
        Odio, veritatis recusandae alias laudantium, deleniti necessitatibus dolorum perferendis quos molestiae ad quasi veniam quam fuga, velit consequuntur! Cupiditate maxime id dolor blanditiis, doloribus recusandae obcaecati repellendus similique temporibus dolore.
        Sint dolores aliquam eum eos accusantium voluptatum vel. Ipsa dignissimos unde sint, voluptatibus debitis temporibus et, ut eum, fuga nihil repudiandae deleniti fugit. Deleniti sequi autem, laborum enim neque exercitationem.
        Earum accusantium illum tenetur vero, numquam a aliquam nesciunt enim quae suscipit aspernatur laboriosam soluta quibusdam reiciendis ipsum, ducimus pariatur consequuntur nulla recusandae aut odit, aperiam eaque velit hic. Nemo?
    </p>
</div>
{% endblock %}